<span class="label">{{ meta.label }}</span>

<div class="input-daterange">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>

<input autocomplete="off" id="{{ meta.id }}_0" class="dp" type="text" name="value[{{ meta.id }}][0]"
       value="{{ value[0] }}" size="8"/>&nbsp;
<input autocomplete="off" id="{{ meta.id }}_1" class="dp" type="text" name="value[{{ meta.id }}][1]"
       value="{{ value[1] }}" size="8"/>
