<span class="label">{{ meta.label }}</span>&nbsp;from&nbsp;<input autocomplete="off" id="{{meta.id}}_0" class="dp" type="text" name="value[{{meta.id}}][0]" value="{{value[0]}}" size="8"/>&nbsp;<img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_0');" src="img/inactive.png"/>&nbsp;
to&nbsp;<input autocomplete="off" id="{{meta.id}}_1" class="dp"  type="text" name="value[{{meta.id}}][1]" value="{{value[1]}}" size="8"/>&nbsp;<img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_1');" src="img/inactive.png"/>
