<div>
    <label for="{{ meta.label }}">{{ meta.label }} contains</label>
    <input id="{{ meta.id }}_0" type="text" name="value[{{ meta.id }}]" value="{{ value }}"
           class="appearance-none block w-full bg-gray-100 text-grey-darker border border-gray-300 rounded py-3 px-4 mt-3 mb-5 focus:border-primary outline-none" autocomplete="off" />
</div>
