<div>
    <span class="label">{{ meta.label }}</span>

    <input data-rule-number="true" type="hidden" name="value[{{ meta.id }}][0]" value="{{ value[0] }}" id="{{ meta.id }}_0"/>
    <input data-rule-number="true" type="hidden" name="value[{{ meta.id }}][1]" value="{{ value[1] }}" id="{{ meta.id }}_1"/>

    {% if value[0] != "" %}{% set minValue = value[0] %}{% else %}{% set minValue = meta.minval %}{% endif %}
    {% if value[1] != "" %}{% set maxValue = value[1] %}{% else %}{% set maxValue = meta.maxval %}{% endif %}

    <div class="mt-3 mb-5">
        <input type="text" id="slider-{{ meta.id }}" data-meta-id="{{ meta.id }}" class="js-range-slider" name="range-{{ meta.id }}"
               value=""
               data-type="double"
               data-min="{{ meta.minval }}"
               data-max="{{ meta.maxval }}"
               data-from="{{ minValue }}"
               data-to="{{ maxValue }}"
               data-grid="true"
        />
    </div>

</div>
