{% extends "base.twig" %}

{% block title %}{{ projectName }} - Project configuration{% endblock %}

{% block content %}
    <section id="page-admin-configuration" class="flex py-20 items-center justify-center min-h-full">
        <div class="bg-white rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/2">
            <div class="flex justify-center py-4">
                <div class="flex bg-gray-400 rounded-full md:p-4 p-2">
                    <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path>
                    </svg>
                </div>
            </div>

            <div class="flex justify-center">
                <div class="flex">
                    <h1 class="text-gray-600 font-bold md:text-2xl text-xl">Project configuration</h1>
                </div>
            </div>

            <form action="#" method="POST">
                <div class="grid grid-cols-1 mt-5 mx-7">
                    <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Directory slug
                        project</label>
                    <input class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                           type="text" name="project-slug" placeholder="Slug" value="{{ projectSlug }}"/>
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Project
                        name</label>
                    <input class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                           type="text" name="project-name" placeholder="Name" value="{{ projectName }}"/>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-5 mx-7">
                    <div class="grid grid-cols-1">
                        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Color
                            primary</label>
                        <input type="color" id="colorpicker-primary" name="colorpicker-primary"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorPrimary }}">
                        <input type="text"
                               class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorPrimary }}"
                               id="project-color-primary" name="project-color-primary"/>
                    </div>
                    <div class="grid grid-cols-1">
                        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Color
                            secondary</label>
                        <input type="color" id="colorpicker-secondary" name="colorpicker-secondary"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorSecondary }}">
                        <input type="text"
                               class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorSecondary }}"
                               id="project-color-secondary" name="project-color-secondary"/>
                    </div>
                    <div class="grid grid-cols-1">
                        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Body Text
                            Color</label>
                        <input type="color" id="colorpicker-body-text" name="colorpicker-body-text"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorBodyText }}">
                        <input type="text"
                               class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorBodyText }}"
                               id="project-color-body-text" name="project-color-body-text"/>
                    </div>
                    <div class="grid grid-cols-1">
                        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Body
                            Background Color</label>
                        <input type="color" id="colorpicker-body-background" name="colorpicker-body-background"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorBodyBackground }}">
                        <input type="text"
                               class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorBodyBackground }}"
                               id="project-color-body-background" name="project-color-body-background"/>
                    </div>
                    <div class="grid grid-cols-1">
                        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Header Text
                            Color</label>
                        <input type="color" id="colorpicker-header-text" name="colorpicker-header-text"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorHeaderText }}">
                        <input type="text"
                               class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorHeaderText }}"
                               id="project-color-header-text" name="project-color-header-text"/>
                    </div>
                    <div class="grid grid-cols-1">
                        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Header
                            Background Color</label>
                        <input type="color" id="colorpicker-header-background" name="colorpicker-header-background"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorHeaderBackground }}">
                        <input type="text"
                               class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                               pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{ projectColorHeaderBackground }}"
                               id="project-color-header-background" name="project-color-header-background"/>
                    </div>
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mb-1">Date last
                        update</label>
                    <input type="text"
                           class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                           value="{{ lastUpdateBDD }}"
                           id="project-bdd-last-update" name="project-bdd-last-update"/>
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mb-1">Footer
                        content</label>
                    <input type="text"
                           class="py-2 px-3 rounded-lg border-2 border-gray-300 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent"
                           value="{{ footerText }}"
                           id="project-footer-text" name="project-footer-text"/>
                </div>

                <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
                    <button onclick="return confirm('Are you sure you want to reset the original config ?');"
                            type="submit" name="resetDefaultConfig"
                            class='w-auto bg-gray-500 hover:bg-gray-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>
                        Reset default
                    </button>
                    <button type="submit" name="updateProjectConfig"
                            class='w-auto bg-green-600 hover:bg-green-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>
                        Update
                    </button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
