<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}Project{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block metas %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Voces&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/{{ projectSlug }}/assets/css/color_local.css">
        <link rel="stylesheet" type="text/css" href="/{{ projectSlug }}/common/dist/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="/{{ projectSlug }}/assets/css/custom.css"/>
        <link rel="icon" type="image/png" href="/{{ projectSlug }}/assets/img/favicon.png"/>
    {% endblock %}
</head>
<body>
{% block header %}
    {% if want_menu == true %}
        {% include 'layout/header.twig' %}
    {% endif %}
{% endblock %}

<main id="content">
    {% block content %}{% endblock %}
</main>

{% include 'layout/footer.twig' %}

{% block scripts %}
    <script src="/{{ projectSlug }}/common/dist/assets/js/bundle.js"></script>
    <script type="module" src="/{{ projectSlug }}/assets/js/custom.js"></script>
{% endblock %}
</body>
</html>
