<span class="label">{{ meta.label }}</span> contains&nbsp;<input autocomplete="off" id="{{meta.id}}_0" type="text" name="value[{{meta.id}}]" value="{{value}}"/><img class="action_icon" onclick="javascript:clear_elt('{{meta.id}}_0');" src="img/inactive.png"/>
